<div id="header">
  <%= image_tag("logo.png", :alt=>"GetAPostDoc", :class=>"round") %>
  <ul class="navigation round">
    <li><%= link_to "Home", root_url%></li>
    <li><%= link_to "Help", help_url %></li>
    <li><%= link_to "Sign in", signup_url %></li>
  </ul>
</div>
